.Conteiner {
  display: block;
  padding: 25px;
}

.Btn {
  padding: 0;
  margin-bottom: 30px;
  opacity: 1;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: block;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
}

.Btn:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
  border-radius: 20px;
}

.Btn:hover::before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
  border-radius: 20px;
}

.Btn:after {
  top: 0;
  left: 0;
  opacity: 0;

  width: 100%;
  color: #323237;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #adadaf;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
  border-radius: 20px;
}

.Btn:before {
  top: 0;
  left: 0;
  opacity: 1;

  color: #ffffff;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #000000;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
  border-radius: 20px;
}

.ConteinerMovie {
  display: flex;
}

.ConteinerImg {
  margin-right: 40px;
}

.Img {
  object-fit: contain;
}

.ConteinerData {
  padding-top: 70px;
  width: 800px;
}

.TextData,
.ItemGenres {
  line-height: 1.5;
}

.ListGenres {
  list-style: circle;
  margin-top: 16px;
  line-height: 1.5;
}
